.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  label
  {
    width:50%;
    margin:auto;
  }
  input[type="text"],
  input[type="password"] {
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width:50%;
    margin-top: 5%;
    margin:auto;
  }
  
  button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #8989c3;
    border: 1px solid #8989c3;
    color: #fff;
    padding: 10px 20px;
  }
  
  button:hover {
    background: #8989c3;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .maindiv
  {
    height:400px;
    width:50%;
    margin:auto;
    box-shadow: 1px 1px 5px 5px #d3d3d3;
    margin-top:5%;
  }
  .imgcode
  {
    height:60px;
    width:100px;
    
  }